/* Estilo de la sección Home */
.home-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/fondoInic.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(6px) brightness(0.7);
  z-index: -1;
}

.home-content {
  text-align: center;
  color: white;
  z-index: 1;
}

.home-title {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease-in-out;
}

.home-quote {
  font-size: 1.5rem;
  margin-bottom: 40px;
  font-style: italic;
  color: #e0e0e0;
  animation: fadeInUp 1s ease-in-out;
}

.home-btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.btn-primary,
.btn-secondary {
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary {
  background-color: #3381F5;
  color: white;
}

.btn-primary:hover {
  background-color: #002D63;
  transform: scale(1.05);
}

.btn-secondary {
  background-color: transparent;
  color: #3381F5;
  border: 2px solid #3381F5;
}

.btn-secondary:hover {
  background-color: #002D63;
  color: white;
  transform: scale(1.05);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .home-title {
    font-size: 2.5rem;
  }
  .home-quote {
    font-size: 1.2rem;
  }
  .home-btns {
    flex-direction: column;
    gap: 10px;
  }
}
